/* === GENERAL === */
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,600|Permanent+Marker&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url('images/background.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Asap Condensed', sans-serif;
	color: white;
}

#container {
	text-align: center;
}

/* === TITLE === */
h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	letter-spacing: 4px;
	word-spacing: 0.6rem;
	background: linear-gradient(to top, #a1921b, #33a705);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 3rem 0.5rem;
}

/* === SIZE INPUTS === */
#size-inputs h3 {
	font-size: 1.5rem;
	margin-bottom: 0.7rem;
}

#size-inputs label {
	display: block;
	margin-bottom: 5px;
	letter-spacing: 3px;
}

#size-inputs label:hover {
	font-size: 1.2rem;
	color: lightcoral;
}

#size-inputs label:last-child {
	margin-bottom: 1.7rem;
}

/* === SCREENSHOT HELPER === */
#screenshot-helper {
	font-weight: bold;
	letter-spacing: 1px;
	background-color: lightgreen;
	border-radius: 5px;
	padding: 5px 15px;
	outline: none;
	margin-bottom: 1.7rem;
}

#screenshot-helper:hover {
	background-color: lightseagreen;
}

/* === COLOR PICKERS === */
#color-pickers label {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 5px;
}

#color-pickers input {
	margin-bottom: 0.4rem;
}

#browser-colors {
	width: 3.5rem;
	height: 1.7rem;
}

#color-pickers [for='user-colors'] {
	font-size: 1.2rem;
	letter-spacing: 1px;
}

#color-pickers input:last-child {
	margin-bottom: 2rem;
}

/* === TABLE === */
table {
	border-collapse: collapse;
	background-color: white;
	cursor: pointer;
	margin-bottom: 3rem;
	max-width: 90%;
}

table td {
	width: 1.2rem;
	height: 1.2rem;
}

.remove-borders {
	border: hidden;
}

/* === MEDIA QUERIES === */
@media (min-width: 768px) {
	/* === TITLE === */
	h1 {
		font-size: 4.5rem;
		padding: 4rem 0.5rem 6rem;
	}

	/* === SIZE INPUTS === */
	#size-inputs h3 {
		font-size: 2rem;
		margin-bottom: 0.7rem;
		letter-spacing: 2px;
	}

	#size-inputs label {
		display: inline;
		padding: 0.8rem;
		letter-spacing: 3px;
		font-size: 1.2rem;
	}

	#size-inputs label:hover {
		font-size: 1.4rem;
	}

	/* === SCREENSHOT HELPER === */
	#screenshot-helper {
		letter-spacing: 1px;
		border-radius: 5px;
		padding: 0.7rem 1.2rem;
		font-size: 0.9rem;
		margin: 3rem 0;
	}

	/* === COLOR PICKERS === */
	#color-pickers label {
		display: block;
		font-size: 1.8rem;
		margin-bottom: 0.7rem;
	}

	#color-pickers input {
		margin-bottom: 1rem;
	}

	#browser-colors {
		width: 4rem;
		height: 2rem;
	}

	#color-pickers [for='user-colors'] {
		font-size: 1.4rem;
		letter-spacing: 2px;
	}

	#color-pickers input:last-child {
		margin-bottom: 3rem;
		width: 30%;
		font-size: 1rem;
	}

	/* === TABLE === */
	table {
		margin-bottom: 5rem;
	}

	table td {
		width: 1.5rem;
		height: 1.5rem;
	}
}

@media (min-width: 1024px) {
}
