/* === GENERAL === */
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,600|Permanent+Marker&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('images/background.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Asap Condensed', sans-serif;
	color: white;
}

#wrapper {
	width: 90vw;
	height: 90vh;
	text-align: center;
	overflow: hidden;
}

/* === CONTAINERS DIMENSIONS === */
#title {
	width: 100%;
	height: 13%;
	float: left;
}

#user-settings {
	width: 100%;
	height: 37%;
	float: left;
}

#table-art {
	width: 100%;
	height: 50%;
	float: left;
	position: relative;
	background-color: white;
}

/* === TITLE === */
#title h1 {
	font-size: 2.3rem;
	letter-spacing: 4px;
}

/* === SIZE INPUTS === */
#size-inputs h3 {
	font-size: 1.5rem;
	padding: 0.3rem 0;
}

#size-inputs {
	padding-bottom: 0.7rem;
}

#size-inputs label {
	padding: 0 0.3rem;
	cursor: pointer;
}

#size-inputs label:hover {
	color: lightcoral;
}

/* === SCREENSHOT HELPER === */
#screenshot-helper {
	font-weight: bold;
	letter-spacing: 1px;
	padding: 2px 4px;
	border: 1px solid lightblue;
	border-radius: 5px;
	background-color: lightgreen;
	outline: none;
}

#screenshot-helper:hover {
	background-color: lightseagreen;
}

/* === COLOR PICKERS === */
#color-pickers label {
	display: block;
	font-size: 1.2rem;
}

#color-pickers [for='browser-colors'] {
	padding-top: 0.7rem;
}

#browser-colors {
	width: 3.5rem;
	height: 1.5rem;
}

#color-pickers [for='user-colors'] {
	font-size: 1rem;
	letter-spacing: 1px;
}

/* === TABLE === */
table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.remove-borders {
	border: hidden;
}

/* === MEDIA QUERIES === */
@media (min-width: 768px) {
	/* === GENERAL === */
	#wrapper {
		width: 70vw;
		height: 90vh;
	}

	/* === CONTAINERS DIMENSIONS === */
	#title {
		height: 9%;
	}

	#user-settings {
		height: 35%;
	}

	#table-art {
		width: 60%;
		top: 6%;
		left: calc(70vw - 80%);
	}

	/* === TITLE === */
	#title h1 {
		font-size: 3.3rem;
		word-spacing: 10px;
	}

	/* === SIZE INPUTS === */
	#size-inputs h3 {
		font-size: 2rem;
		padding: 2rem 0 0.3rem;
		letter-spacing: 1px;
	}

	#size-inputs {
		padding-bottom: 1.5rem;
	}

	#size-inputs label {
		padding: 0 1rem;
		letter-spacing: 4px;
	}

	/* === SCREENSHOT HELPER === */
	#screenshot-helper {
		padding: 3px 10px;
	}

	/* === COLOR PICKERS === */
	#color-pickers label {
		font-size: 1.7rem;
		letter-spacing: 1px;
	}

	#color-pickers [for='browser-colors'] {
		padding-top: 1rem;
	}

	#browser-colors {
		width: 3.5rem;
		height: 1.3rem;
	}

	#color-pickers [for='user-colors'] {
		font-size: 1.4rem;
		padding-top: 0.5rem;
	}

	#color-pickers input:last-child {
		width: 30%;
		font-size: 0.8rem;
	}
}

@media (min-width: 1024px) {
	/* === GENERAL === */
	#wrapper {
		height: 92vh;
	}

	/* === CONTAINERS DIMENSIONS === */
	#title {
		height: 9%;
	}

	#table-art {
		top: 6%;
	}

	/* === TITLE === */
	#title h1 {
		font-size: 4rem;
	}

	/* === SIZE INPUTS === */
	#size-inputs h3 {
		font-size: 2.2rem;
		padding: 2rem 0 0.3rem;
		letter-spacing: 3px;
	}

	#size-inputs {
		padding-bottom: 1.7rem;
	}

	#size-inputs label {
		padding: 0 1.5rem;
		letter-spacing: 6px;
	}

	/* === COLOR PICKERS === */
	#browser-colors {
		width: 4rem;
		height: 1.4rem;
	}

	#color-pickers input:last-child {
		width: 40%;
		font-size: 0.9rem;
	}
}
